@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
}

.upper{
  display: block;
  width: 90%;
}

h2, h5{
  font-weight: 500;
  padding: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin:auto;
  gap: 2rem;
}

img {
  width: 100%;
  max-height: 25vh;
  display: block;
  object-fit:cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.465721322708771) 100%);
  color: white;
  transition: transform .2s;
}

.card:hover{
  transform: scale(1.05);
}



.card__body {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: 20px;
  font-weight: 600;
  background: transparent;
}


.card__body h4 {
  text-transform: capitalize;
  font-weight: 500;
}

.card__footer {
  display: flex;
  padding: 0 1em;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

button{
  padding: 10px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid gray;
  min-width: 200px;
  margin: 1%;
}